@font-face {
    font-family: 'Manrope';
    src: url('Manrope-Regular.woff2') format('woff2'),
        url('Manrope-Regular.woff') format('woff'),
        url('Manrope-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

