
@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('Manrope-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Manrope-ExtraBold.woff') format('woff'), url('Manrope-ExtraBold.ttf')  format('truetype'), url('Manrope-ExtraBold.svg#Manrope-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
